# NLP Basics: Reading In Text Data

### Read In Semi-structured Text Data

The raw dataset being used in this course can be found at: http://archive.ics.uci.edu/ml/datasets/SMS+Spam+Collection

In [29]:
# Read in and view the raw data
import pandas as pd

messages = pd.read_csv('spam.csv', encoding = "ISO-8859-1")
messages.head()
# Downloads/Advance_NLP_Python_ML/data/spam.csv

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [32]:
# messages = messages.drop(labels=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis=1)
# messages.head()
messages.columns = ["label", "text"]
messages.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [33]:
messages.shape

(5572, 2)

In [34]:
messages["label"].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [36]:
messages.isnull().sum()

label    0
text     0
dtype: int64

In [38]:
pd.set_option("display.max_colwidth", 100)

In [ ]:
# Drop unused columns and label columns that will be used
messages = messages.drop(labels = ["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis = 1)
messages.columns = ["label", "text"]
messages.head()

In [ ]:
# How big is this dataset?

In [ ]:
# What portion of our text messages are actually spam?

In [ ]:
# Are we missing any data?
print('Number of nulls in label: {}'.format())
print('Number of nulls in text: {}'.format())

In [39]:
messages.head()

,label,text
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

In [40]:
messages.sample(5)

,label,text
1155,ham,"Sorry man, accidentally left my phone on silent last night and didn't check it til I got up"
1638,ham,Great comedy..cant stop laughing da:)
3446,ham,Sitting ard nothing to do lor. U leh busy w work?
5506,ham,God's love has no limit. God's grace has no measure. God's power has no boundaries. May u have G...
4482,ham,True lov n care wil nevr go unrecognized. though somone often makes mistakes when valuing it. bu...

In [41]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [45]:
def remove_punct(text):
    text = "".join([char for char in text if char not in string.punctuation])
    return text

In [46]:
messages["clean_text"] = messages["text"].apply(lambda x : remove_punct(x))

In [47]:
messages.sample(5)

,label,text,clean_text
1278,ham,Can i meet Ì_ at 5.. As 4 where depends on where Ì_ wan 2 in lor..,Can i meet Ì at 5 As 4 where depends on where Ì wan 2 in lor
5099,ham,"Ah, well that confuses things, doesnt it? I thought was friends with now. Maybe i did the wrong ...",Ah well that confuses things doesnt it I thought was friends with now Maybe i did the wrong thin...
3669,ham,Ok thanx... Take care then...,Ok thanx Take care then
3408,ham,Whats that coming over the hill..... Is it a monster! Hope you have a great day. Things r going ...,Whats that coming over the hill Is it a monster Hope you have a great day Things r going fine he...
3643,ham,* Thought I didn't see you.,Thought I didnt see you

In [48]:
import re

def tokenize(text):
    tokens = re.split("\W+", text)
    return tokens

In [49]:
messages["text_tokenized"] = messages["clean_text"].apply(lambda x : tokenize(x.lower()))
messages.sample(5)

,label,text,clean_text,text_tokenized
69,ham,I plane to give on this month end.,I plane to give on this month end,"[i, plane, to, give, on, this, month, end]"
4322,ham,Aight well keep me informed,Aight well keep me informed,"[aight, well, keep, me, informed]"
1874,spam,Would you like to see my XXX pics they are so hot they were nearly banned in the uk!,Would you like to see my XXX pics they are so hot they were nearly banned in the uk,"[would, you, like, to, see, my, xxx, pics, they, are, so, hot, they, were, nearly, banned, in, t..."
1399,ham,You have registered Sinco as Payee. Log in at icicibank.com and enter URN &lt;#&gt; to confirm...,You have registered Sinco as Payee Log in at icicibankcom and enter URN ltgt to confirm Beware...,"[you, have, registered, sinco, as, payee, log, in, at, icicibankcom, and, enter, urn, ltgt, to, ..."
695,ham,Good. Good job. I like entrepreneurs,Good Good job I like entrepreneurs,"[good, good, job, i, like, entrepreneurs]"

In [51]:
import nltk

stopwords = nltk.corpus.stopwords.words("english")
stopwords[0:5]

['i', 'me', 'my', 'myself', 'we']

In [52]:
def remove_stopwards(tokenized_text):
    text = [word for word in tokenized_text if word not in stopwords]
    return text

In [53]:
messages["text_nostop"] = messages["text_tokenized"].apply(lambda x : remove_stopwards(x))
messages.sample(5)

,label,text,clean_text,text_tokenized,text_nostop
132,ham,First answer my question.,First answer my question,"[first, answer, my, question]","[first, answer, question]"
1656,ham,Yes I posted a couple of pics on fb. There's still snow outside too. I'm just waking up :),Yes I posted a couple of pics on fb Theres still snow outside too Im just waking up,"[yes, i, posted, a, couple, of, pics, on, fb, theres, still, snow, outside, too, im, just, wakin...","[yes, posted, couple, pics, fb, theres, still, snow, outside, im, waking, ]"
801,ham,Appt is at &lt;TIME&gt; am. Not my fault u don't listen. I told u twice,Appt is at ltTIMEgt am Not my fault u dont listen I told u twice,"[appt, is, at, lttimegt, am, not, my, fault, u, dont, listen, i, told, u, twice]","[appt, lttimegt, fault, u, dont, listen, told, u, twice]"
2676,ham,* Am on a train back from northampton so i'm afraid not!,Am on a train back from northampton so im afraid not,"[, am, on, a, train, back, from, northampton, so, im, afraid, not]","[, train, back, northampton, im, afraid]"
2787,ham,"Forgot it takes me 3 years to shower, sorry. Where you at/your phone dead yet?",Forgot it takes me 3 years to shower sorry Where you atyour phone dead yet,"[forgot, it, takes, me, 3, years, to, shower, sorry, where, you, atyour, phone, dead, yet]","[forgot, takes, 3, years, shower, sorry, atyour, phone, dead, yet]"

In [54]:
!pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.1.1-cp39-cp39-win_amd64.whl (7.4 MB)
Requirement already satisfied: joblib>=1.0.0 in c:\users\visha\anaconda3\envs\nlp_v1\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\visha\anaconda3\envs\nlp_v1\lib\site-packages (from scikit-learn) (1.23.1)
Collecting scipy>=1.3.2
  Downloading scipy-1.9.0-cp39-cp39-win_amd64.whl (38.6 MB)
     ---------------------------------------- 38.6/38.6 MB 8.4 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, scikit-learn
Successfully installed scikit-learn-1.1.1 scipy-1.9.0 threadpoolctl-3.1.0

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(analyzer=remove_stopwards)

In [59]:
X_tfidf = tfidf_vect.fit_transform(messages["text_tokenized"])

In [60]:
X_tfidf.shape

(5572, 9395)

In [65]:
tfidf_vect.get_feature_names_out()

array(['', '0', '008704050406', ..., 'ûïharry', 'ûò', 'ûówell'],
      dtype=object)

In [67]:
X_tfidf

<5572x9395 sparse matrix of type '<class 'numpy.float64'>'
	with 50453 stored elements in Compressed Sparse Row format>

In [68]:
X_features = pd.DataFrame(X_tfidf.toarray())
X_features

,0,1,2,3,4,5,6,7,8,9,...,9385,9386,9387,9388,9389,9390,9391,9392,9393,9394
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
from sklearn.ensemble import RandomForestClassifier

In [73]:
from sklearn.metrics import precision_score, recall_score
from sklearn.model_selection import train_test_split

In [74]:
X_train, X_test, y_train, y_test = train_test_split(X_features, messages["label"], test_size=0.2)

In [75]:
rf = RandomForestClassifier()

In [76]:
rf_model = rf.fit(X_train, y_train)

In [77]:
y_pred = rf_model.predict(X_test)

In [80]:
precision = precision_score(y_test, y_pred, pos_label="spam")
recall = recall_score(y_test, y_pred, pos_label="spam")

In [88]:
print(f"Precision {round(precision, 3)} \nRecall {round(recall, 3)}")

Precision 1.0
Recall 0.784

In [ ]:
 print(f"Hello, My name is {name} and I'm {age} years old.")

In [72]:
print(RandomForestClassifier())

RandomForestClassifier()

In [66]:
tfidf_vect.get_feature_names()

['',
 '0',
 '008704050406',
 '0089my',
 '0121',
 '01223585236',
 '01223585334',
 '0125698789',
 '02',
 '020603',
 '0207',
 '02070836089',
 '02072069400',
 '02073162414',
 '02085076972',
 '020903',
 '021',
 '050703',
 '0578',
 '06',
 '060505',
 '061104',
 '07008009200',
 '07046744435',
 '07090201529',
 '07090298926',
 '07099833605',
 '071104',
 '07123456789',
 '0721072',
 '07732584351',
 '07734396839',
 '07742676969',
 '07753741225',
 '0776xxxxxxx',
 '07786200117',
 '077xxx',
 '078',
 '07801543489',
 '07808',
 '07808247860',
 '07808726822',
 '07815296484',
 '07821230901',
 '0784987',
 '0789xxxxxxx',
 '0794674629107880867867',
 '0796xxxxxx',
 '07973788240',
 '07xxxxxxxxx',
 '0800',
 '08000407165',
 '08000776320',
 '08000839402',
 '08000930705',
 '08000938767',
 '08001950382',
 '08002888812',
 '08002986030',
 '08002986906',
 '08002988890',
 '08006344447',
 '0808',
 '08081263000',
 '08081560665',
 '0825',
 '0844',
 '08448350055',
 '08448714184',
 '0845',
 '08450542832',
 '08452810071',
 '08452810073',
 '08452810075over18s',
 '0870',
 '08700621170150p',
 '08701213186',
 '08701237397',
 '08701417012',
 '08701417012150p',
 '0870141701216',
 '087016248',
 '08701752560',
 '087018728737',
 '0870241182716',
 '08702490080',
 '08702840625',
 '08702840625comuk',
 '08704439680',
 '08704439680tscs',
 '08706091795',
 '0870737910216yrs',
 '08707500020',
 '08707509020',
 '0870753331018',
 '08707808226',
 '08708034412',
 '08708800282',
 '08709222922',
 '08709501522',
 '0870k',
 '087104711148',
 '08712101358',
 '08712103738',
 '0871212025016',
 '08712300220',
 '087123002209am7pm',
 '08712317606',
 '08712400200',
 '08712400603',
 '08712402050',
 '08712402578',
 '08712402779',
 '08712402902',
 '08712402972',
 '08712404000',
 '08712405020',
 '08712405022',
 '08712460324',
 '08712460324nat',
 '08712466669',
 '0871277810710pmin',
 '0871277810810',
 '0871277810910pmin',
 '087143423992stop',
 '087147123779am7pm',
 '08714712379',
 '08714712388',
 '08714712394',
 '08714712412',
 '08714714011',
 '08714719523',
 '08715203028',
 '08715203649',
 '08715203652',
 '08715203656',
 '08715203677',
 '08715203685',
 '08715203694',
 '08715205273',
 '08715500022',
 '08715705022',
 '08717111821',
 '08717168528',
 '08717205546',
 '08717507382',
 '08717507711',
 '08717509990',
 '08717890890å',
 '08717895698',
 '08717898035',
 '08718711108',
 '08718720201',
 '08718723815',
 '08718725756',
 '08718726270',
 '08718726270150gbpmtmsg18',
 '08718726970',
 '08718726971',
 '08718726978',
 '087187272008',
 '08718727868',
 '08718727870',
 '08718729755',
 '08718729758',
 '08718730555',
 '08718730666',
 '08718738001',
 '08718738002',
 '08718738034',
 '08719180219',
 '08719180248',
 '08719181259',
 '08719181503',
 '08719181513',
 '08719839835',
 '08719899217',
 '08719899229',
 '08719899230',
 '09041940223',
 '09050000301',
 '09050000332',
 '09050000460',
 '09050000555',
 '09050000878',
 '09050000928',
 '09050001295',
 '09050001808',
 '09050002311',
 '09050003091',
 '09050005321',
 '09050090044',
 '09050280520',
 '09053750005',
 '09056242159',
 '09057039994',
 '09058091854',
 '09058091870',
 '09058094454',
 '09058094455',
 '09058094507',
 '09058094565',
 '09058094583',
 '09058094594',
 '09058094597',
 '09058094599',
 '09058095107',
 '09058095201',
 '09058097189',
 '09058097218',
 '09058098002',
 '09058099801',
 '09061104276',
 '09061104283',
 '09061209465',
 '09061213237',
 '09061221061',
 '09061221066',
 '09061701444',
 '09061701461',
 '09061701851',
 '09061701939',
 '09061702893',
 '09061743386',
 '09061743806',
 '09061743810',
 '09061743811',
 '09061744553',
 '09061749602',
 '09061790121',
 '09061790125',
 '09061790126',
 '09063440451',
 '09063442151',
 '09063458130',
 '0906346330',
 '09064011000',
 '09064012103',
 '09064012160',
 '09064015307',
 '09064017295',
 '09064017305',
 '09064018838',
 '09064019014',
 '09064019788',
 '09065069120',
 '09065069154',
 '09065171142stopsms08',
 '09065171142stopsms08718727870150ppm',
 '09065174042',
 '09065394514',
 '09065394973',
 '09065989180',
 '09065989182',
 '09066350750',
 '09066358152',
 '09066358361',
 '09066361921',
 '09066362206',
 '09066362220',
 '09066362231',
 '09066364311',
 '09066364349',
 '09066364589',
 '09066368327',
 '09066368470',
 '09066368753',
 '09066380611',
 '09066382422',
 '09066612661',
 '09066649731from',
 '09066660100',
 '09071512432',
 '09071512433',
 '09071517866',
 '09077818151',
 '09090204448',
 '09090900040',
 '09094100151',
 '09094646631',
 '09094646899',
 '09095350301',
 '09096102316',
 '09099725823',
 '09099726395',
 '09099726429',
 '09099726481',
 '09099726553',
 '09111030116',
 '09111032124',
 '09701213186',
 '0anetworks',
 '1',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '1000call',
 '1000s',
 '100603',
 '100psms',
 '100s',
 '1010',
 '1013',
 '101mega',
 '1030',
 '10803',
 '10am',
 '10am7pm',
 '10am9pm',
 '10k',
 '10p',
 '10pmin',
 '10ppm',
 '10th',
 '11',
 '1120',
 '113',
 '1131',
 '11414',
 '1148',
 '116',
 '1172',
 '118pmsg',
 '11mths',
 '12',
 '120',
 '12000pes',
 '1205',
 '121',
 '1225',
 '123',
 '1230',
 '125',
 '1250',
 '125gift',
 '128',
 '12hours',
 '12hrs',
 '12mths',
 '12price',
 '13',
 '130',
 '131004',
 '1327',
 '13404',
 '139',
 '140',
 '1405',
 '140ppm',
 '145',
 '1450',
 '146tf150p',
 '14thmarch',
 '150',
 '1500',
 '150ea',
 '150morefrmmob',
 '150msg',
 '150mtmsgrcvd18',
 '150p',
 '150pday',
 '150perweeksub',
 '150perwksub',
 '150pm',
 '150pmeg',
 '150pmin',
 '150pmmorefrommobile2bremovedmobypobox734ls27yf',
 '150pmsg',
 '150pmsgrcvd',
 '150pmsgrcvdhgsuite3422landsroww1j6hl',
 '150pmt',
 '150pmtmsg',
 '150pmtmsgrcvd18',
 '150ppermesssubscription',
 '150ppm',
 '150ppmpobox10183bhamb64xe',
 '150ppmsg',
 '150prcvd',
 '150psms',
 '150ptext',
 '150ptone',
 '150pw',
 '150pwk',
 '150rcvd',
 '150week',
 '150wk',
 '151',
 '1526',
 '153',
 '15541',
 '15pmin',
 '16',
 '1680',
 '169',
 '16only',
 '177',
 '18',
 '180',
 '181104',
 '1843',
 '186å',
 '18only',
 '18ptxt',
 '18yrs',
 '195',
 '1956669',
 '1appledayno',
 '1childish',
 '1cup',
 '1da',
 '1er',
 '1hanuman',
 '1his',
 '1hr',
 '1im',
 '1lemondayno',
 '1mcflyall',
 '1million',
 '1minmobsmore',
 '1minmobsmorelkpobox177hp51fl',
 '1minmoremobsemspobox45po139wa',
 '1month',
 '1pm',
 '1s',
 '1st',
 '1st4terms',
 '1stchoicecouk',
 '1stone',
 '1tulsi',
 '1u',
 '1unbreakable',
 '1winaweek',
 '1winawk',
 '1x150pwk',
 '1yf',
 '2',
 '20',
 '200',
 '2000',
 '20000',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2025050',
 '20f',
 '20m12aq',
 '20p',
 '20pmin',
 '21',
 '211104',
 '215',
 '21870000hi',
 '21m',
 '21st',
 '22',
 '220cm2',
 '2309',
 '230ish',
 '24',
 '241',
 '241004',
 '247mp',
 '24hrs',
 '24m',
 '24th',
 '25',
 '250',
 '250k',
 '255',
 '25f',
 '25p',
 '260305',
 '261004',
 '261104',
 '2667',
 '26th',
 '2703',
 '27603',
 '28',
 '2814032',
 '285',
 '28days',
 '28th',
 '28thfebtcs',
 '290305',
 '29100',
 '29m',
 '2b',
 '2bajarangabali',
 '2bold',
 '2c',
 '2channel',
 '2day',
 '2daylove',
 '2end',
 '2exit',
 '2ez',
 '2getha',
 '2geva',
 '2go',
 '2godid',
 '2gthr',
 '2hrs',
 '2im',
 '2kbsubject',
 '2marrow',
 '2moro',
 '2morow',
 '2morro',
 '2morrow',
 '2morrowxxxx',
 '2mro',
 '2mrw',
 '2naughty',
 '2nd',
 '2nhite',
 '2nights',
 '2nite',
 '2nitetell',
 '2optout',
 '2optoutd3wv',
 '2p',
 '2police',
 '2px',
 '2rcv',
 '2stop',
 '2stoptx',
 '2stoptxt',
 '2u',
 '2u2',
 '2untamed',
 '2waxsto',
 '2when',
 '2wks',
 '2wt',
 '2wu',
 '2years',
 '2yr',
 '2yrs',
 '3',
 '30',
 '300',
 '3000',
 '300603',
 '300603tcsbcm4235wc1n3xxcallcost150ppmmobilesvary',
 '300p',
 '3030',
 '30apr',
 '30pptxt',
 '30s',
 '30th',
 '31',
 '3100',
 '310303',
 '311004',
 '31pmsg150p',
 '32000',
 '3230',
 '32323',
 '326',
 '32f',
 '330',
 '3350',
 '3365',
 '350',
 '3510i',
 '35p',
 '3650',
 '36504',
 '3680',
 '3680offer',
 '373',
 '3750',
 '375max',
 '38',
 '391784',
 '399',
 '3aj',
 '3cover',
 '3d',
 '3days',
 '3db',
 '3g',
 '3gbp',
 '3hrs',
 '3lions',
 '3lp',
 '3maruti',
 '3miles',
 '3mins',
 '3mobile',
 '3optical',
 '3pound',
 '3qxj9',
 '3rd',
 '3sentiment',
 '3ss',
 '3u',
 '3unkempt',
 '3uz',
 '3wife',
 '3wk',
 '3wks',
 '3xx',
 '3xå',
 '4',
 '40',
 '400',
 '400minscall',
 '402',
 '4041',
 '40411',
 '40533',
 '40gb',
 '40mph',
 '415',
 '41685',
 '41782',
 '420',
 '42049',
 '4217',
 '42478',
 '42810',
 '430',
 '434',
 '44',
 '4403ldnw1a7rw18',
 '447797706009',
 '447801259231',
 '447per',
 '448712404000please',
 '449050000301',
 '449071512431',
 '449month',
 '45',
 '450',
 '450p',
 '450pw',
 '45239',
 '46',
 '47',
 '4712',
 '4742',
 '48',
 '4882',
 '48922',
 '49557',
 '4a',
 '4cook',
 '4d',
 '4eva',
 '4few',
 '4fil',
 '4get',
 '4give',
 '4got',
 '4goten',
 '4info',
 '4jx',
 '4lux',
 '4mths',
 '4o',
 '4pavanaputra',
 '4press',
 '4rowdy',
 '4some1',
 '4tctxt',
 '4th',
 '4the',
 '4thnovbehind',
 '4txt120p',
 '4txtì¼120',
 '4u',
 '4ui',
 '4utxt',
 '4w',
 '4ward',
 '4wrd',
 '4years',
 '5',
 '50',
 '500',
 '5000',
 '500000',
 '505060',
 '50award',
 '50p',
 '50s',
 '50å',
 '515',
 '515pm',
 '5226',
 '526',
 '528',
 '530',
 '532',
 '54',
 '542',
 '545',
 '5903',
 '5digital',
 '5free',
 '5ful',
 '5gardener',
 '5gently',
 '5ish',
 '5iåõm',
 '5k',
 '5min',
 '5mls',
 '5month',
 '5p',
 '5pm',
 '5sankatmochan',
 '5terror',
 '5th',
 '5wb',
 '5we',
 '5wkg',
 '5wq',
 '5years',
 '6',
 '600',
 '6031',
 '60400thousadi',
 '60p',
 '60pmin',
 '61200',
 '61610',
 '62220cncl',
 '6230',
 '62468',
 '62735å',
 '630',
 '63miles',
 '645',
 '645pm',
 '650',
 '6669',
 '67441233',
 '68866',
 '69101',
 '69200',
 '69669',
 '69696',
 '69698',
 '69855',
 '6986618',
 '69876',
 '69888',
 '69888nyt',
 '69911å',
 '69969',
 '69988',
 '6cruel',
 '6days',
 '6hl',
 '6housemaid',
 '6hrs',
 '6ish',
 '6missed',
 '6months',
 '6pm',
 '6ramaduth',
 '6romantic',
 '6th',
 '6times',
 '6wu',
 '6zf',
 '7',
 '700',
 '71',
 '725',
 '7250',
 '7250i',
 '730',
 '730ish',
 '730pm',
 '731',
 '74355',
 '750',
 '75000',
 '7548',
 '7634',
 '7684',
 '7732584351',
 '78',
 '786',
 '7876150ppm',
 '78pmin',
 '79',
 '7am',
 '7cfca1a',
 '7children',
 '7ish',
 '7mahaveer',
 '7oz',
 '7pm',
 '7romantic',
 '7shy',
 '7th',
 '7ws',
 '7zs',
 '8',
 '800',
 '8000930705',
 '80062',
 '8007',
 '80082',
 '80086',
 '80122300pwk',
 '80155',
 '80160',
 '80182',
 '8027',
 '80488',
 '80488biz',
 '80608',
 '8077',
 '80878',
 '80s',
 '81010',
 '81151',
 '81303',
 '81618',
 '816183',
 '82242',
 '82277',
 '82277unsub',
 '82324',
 '82468',
 '830',
 '83021',
 '83039',
 '83049',
 '83110',
 '83118',
 '83222',
 '83332please',
 '83338',
 '83355',
 '83370',
 '83383',
 '83435',
 '83600',
 '83738',
 '84',
 '84025',
 '84122',
 '84128',
 '84128custcare',
 '84199',
 '84484',
 '85',
 '850',
 '85023',
 '85069',
 '85222',
 '85233',
 '8552',
 '85555',
 '86021',
 '861',
 '863',
 '864233',
 '86688',
 '86888',
 '87021',
 '87066',
 '87070',
 '87077',
 '87121',
 '87131',
 '8714714',
 '87239',
 '87575',
 '8800',
 '88039',
 '88039skilgmetscs087147403231winawkage16å',
 '88066',
 '88088',
 '88222',
 '8830',
 '88600',
 '88800',
 '8883',
 '88877',
 '88877free',
 '88888',
 '89034',
 '89070',
 '89080',
 '89105',
 '89123',
 '89545',
 '89555',
 '89693',
 '89938',
 '8am',
 '8attractive',
 '8ball',
 '8hr',
 '8lb',
 '8lovable',
 '8neighbour',
 '8o',
 '8pm',
 '8th',
 '8wp',
 '9',
 '900',
 '9061100010',
 '9153',
 '924',
 '930',
 '945',
 '946',
 '95pax',
 '96',
 '97n7qp',
 '98321561',
 '9996',
 '9ae',
 '9am',
 '9am11pm',
 '9decent',
 '9funny',
 '9ja',
 '9pm',
 '9t',
 '9th',
 '9yt',
 'a21',
 'a30',
 'aa',
 'aah',
 'aaniye',
 'aaooooright',
 'aathilove',
 'aathiwhere',
 'ab',
 'abbey',
 'abdomen',
 'abeg',
 'abel',
 'aberdeen',
 'abi',
 'ability',
 'abiola',
 'abj',
 'able',
 'abnormally',
 'aboutas',
 'abroad',
 'absence',
 'absolutely',
 'abstract',
 'abt',
 'abta',
 'aburo',
 'abuse',
 'abusers',
 'ac',
 'academic',
 'acc',
 'accent',
 'accenture',
 'accept',
 'access',
 'accessible',
 'accidant',
 'accident',
 'accidentally',
 'accommodation',
 'accommodationvouchers',
 'accomodate',
 'accomodations',
 'accordin',
 'accordingly',
 'accordinglyor',
 'account',
 'accounting',
 'accounts',
 'accumulation',
 'achanammarakheshqatar',
 'ache',
 'achieve',
 'acid',
 'acknowledgement',
 'acl03530150pm',
 'acnt',
 'acoentry41',
 'across',
 'acsmsrewards',
 'act',
 'acted',
 ...]